html, body {
  min-height: 100%;
  height: 100%;
  background-color: #efefef !important;
}

.query-search {
  padding-bottom: 20px;
}

.App {
  text-align: center;
}

.App-header {
  padding-top: 100px;
  color: #6aaae5;
}

.nav {
  position: fixed;
  left: 10px;
  top: 5px;
}

.title {
  margin-bottom: 20px;
}

.results {
  max-width: 1060px;
}

.badge {
  background-color: white;
  color: #6aaae5;
  padding: .6em;
  font-size: 85%;
}

.words {
  text-align: left;
}

.card {
  margin-bottom: .75rem;
}

.card-body {
  text-align: left;
  padding: 1rem 1.25rem;
}

.fact-title {
  font-weight: 400;
  margin-bottom: .75rem;
}

.fact-subreddit, .fact-time {
  color: gray;
}

.fact-picture {
  margin-top: .5rem;
  height: auto;
  width: 90%;
}

.button-area button {
  border-color: #6aaae5 !important;
  background-color: #6aaae5 !important;
  align-items: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
