.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.title {
  color: #8aaae5;
  align-items: center;
  justify-content: center;
}

.fact {
  font-size: calc(10px + 1vmin);
  padding: 5px;
  border-style: solid;
  border: #61dafb;
  border-radius: 5px;
}

.list-group-item {
  font-size: .75em;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #8aaae5;
  box-shadow: 0 0 0 1px #8aaae5;
}
.active-cyan-3 input[type=text] {
  border: 1px solid #8aaae5;
  box-shadow: 0 0 0 1px #8aaae5;
}

#button {
  border-color: #8aaae5 !important;
  background-color: #8aaae5 !important;
  align-items: center;
  justify-content: center;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

#query {
  margin: 1em;
  align-items: center;
  justify-content: center;
}

.results {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding: 2em;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-column-span: all; 
  column-span: all; 
}

.search {
  text-align: center;
  display: inline-block;
}

.failed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75em;
}

.search-bar {
  padding: 0 20px;
  min-width: 100px;
  height:30px;
  line-height:30px;
  outline:none;
  font-size: .70em;
}